%ul.form-fields{ class: 'nested-fields' }
	- if f.object.present?
		%li.check-right
			= f.hidden_field :_destroy
			= link_to "Remove Credit", '#', class: "remove_fields"
	%li
		= f.collection_select(:contributor_id, Contributor.order(name: :asc), :id, :name, { prompt: true })