/*
 *= require_self
 */

@import 'normalize';
@import 'mixins';
@import 'menu';

$menu-height: 50px;

// Global Syles
.page {
	padding-left: 50px;
}
.page-title {
	text-transform: uppercase;	
	@include brand-font;
	font-size: calc(17vw - #{$menu-height});
	margin: 0;
	background: black;
	color: white;
}
